.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: clamp(200px, 80%, 500px);
}
.about_title {
  font-size: 2rem;
  text-decoration: underline;
}

.hours {
  padding-top: 20px;
  padding-bottom: 20px;
  width: clamp(200px, 80%, 400px);
  text-align: center;
  font-size: 1.2rem;
}
